<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/reset.css">
	<link rel="stylesheet" href="/assets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Figtree:wght@400;600&display=swap" rel="stylesheet">
    <title>Garden Munk</title>
</head>
<header class="signOut">
    <form class="signOut" action="/" method="GET">
        <button >Sign Out</button>
    </form>   
</header>
<body>
    <h1 id="great">Great! Your observations have been logged.</h1>
    <form action="/api/another_new_entry" method="POST">
        <input type="hidden" name="currentUser" value="<%=currentUser %>">
        <h3>To make another entry, click <button>here.</button></h3>
    </form>
    <form action="/api/journal" method="POST">
        <input type="hidden" name="currentUser" value="<%= currentUser%>">
        <h3>To look at your journal of entries, click <button>here.</button></h3>
    </form>
    <img id="chipmunk" src="/assets/imgs/smol_boi.png" alt="as">
    <script src="/main.js"></script>
</body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden Munk</title>
    <link rel="stylesheet" href="/public/assets/reset.css">
	<link rel="stylesheet" href="/public/assets/style.css">
</head>
<body>
    <h1>Great! Your observations have been Logged</h1>
    <h3>To make another entry, click <form action="/api/another_new_entry" method="POST">
        <input type="hidden" name="currentUser" value="<%=currentUser %>">
        <button>here</button>
    </form></h3>
    <form action="/api/journal" method="POST">
        <input type="hidden" name="currentUser" value="<%= currentUser%>">
        <h3>To look at your journal of entries, click <button>here</button></h3>
    </form>
    <script src="/main.js"></script>
</body>
</html> -->