<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Great! Your observations have been Logged</h1>
    <h3>To make another entry, click <a href="/">here.</a></h3>
    <form action="/api/list_entries" method="GET">
        <input type="hidden" name="currentUser" id="<%= currentUser%>">
        <h3>To look at your journal of entries, click <button>here</button></h3>
    </form>
    <script src="/main.js"></script>
</body>
</html>